* { box-sizing: border-box; }

html, body {
    margin: 0;
    padding: 0;
}
body{
    background-color: lightblue;
}

main {
    padding: 20px;
    width: 900px;
    margin: 10px auto;
    text-align: center;
    background-color: black;
}

nav {
    padding: 16px;
}

.animation-show {
    height: 600px;
    background-color:lightgoldenrodyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.text{
    padding: 0;
    text-align:center;
    font-size: 1.5vw;
    font-weight: 1200;
    letter-spacing: 0.2rem;
    color: darkorange;
}

#firkant {
    width: 500px;
    height: 500px;
    background-color: blueviolet;    
}

@keyframes fadeLeft {
    to {
        opacity: 0;
        transform: translateX(-200px);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes zoom {
    to {
        opacity: 0;
        transform: scale(20);
    }
}

.fadeUt {
    animation: fadeOut 3s; 
}
.fadeLeft {
    animation: fadeLeft 3s;
}
.zoom {
    animation: zoom 3s;
}